
.button {
    -fx-font: 40px Consolas;
    -fx-text-fill: #97606e;
    -fx-background-color: white;
    -fx-border-color:  #afc7c0;
    -fx-border-radius: 25;
    -fx-background-radius:  25;
    -fx-border-width: 1.5;
}
